<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>      
      <a mat-list-item routerLink="queteurs" [matBadge]="pendingValidation" matBadgeOverlap="false" matBadgeColor="accent"><fa-icon [icon]="faUsers"      ></fa-icon> Queteurs</a>

      <a mat-list-item routerLink="/preparation" class="preparation"><fa-icon [icon]="faClock"      ></fa-icon>Préparation</a>
      <a mat-list-item routerLink="/depart"      class="depart"     ><fa-icon [icon]="faSignOutAlt" ></fa-icon>Départ</a>
      <a mat-list-item routerLink="/retour"      class="retour"     ><fa-icon [icon]="faSignInAlt"  ></fa-icon>Retour</a>
      <a mat-list-item routerLink="/comptage"    class="comptage"   ><fa-icon [icon]="faCoins"      ></fa-icon>Comptage</a>

      <a mat-list-item routerLink="/points-quete" class="comptage"   ><fa-icon [icon]="faCoins"      ></fa-icon>Points de Quête</a>



      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Administration
            </mat-panel-title>
          </mat-expansion-panel-header>
        
          <p>This is the primary content of the panel.</p>
        
        </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" class="logo"><fa-icon [icon]="faPlus"  size="lg" style="color:#E3001B;"></fa-icon>RedCrossQuest</span>
      

      <span routerLink="/queteurs"    class="queteurs"   [matBadge]="pendingValidation" matBadgeOverlap="false" matBadgeColor="accent"><fa-icon [icon]="faUsers"      ></fa-icon>Quêteurs</span>

      <span routerLink="/preparation" class="preparation"><fa-icon [icon]="faClock"      ></fa-icon>Préparation</span>
      <span routerLink="/depart"      class="depart"     ><fa-icon [icon]="faSignOutAlt" ></fa-icon>Départ</span>
      <span routerLink="/retour"      class="retour"     ><fa-icon [icon]="faSignInAlt"  ></fa-icon>Retour</span>
      <span routerLink="/comptage"    class="comptage"   ><fa-icon [icon]="faCoins"      ></fa-icon>Comptage</span>

      <button 
        type="button" 
        mat-icon-button
        (click)="signOut()"
        ><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</button>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
